<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #returnProdForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="returnProd.id">{{l("EditReturnProd")}}</span>
                        <span *ngIf="!returnProd.id">{{l("CreateNewReturnProd")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 

					<div class="form-group m-form__group">
                        <label for="OrderOrderCode">{{l("Order")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="OrderOrderCode" name="orderOrderCode" [(ngModel)]="orderOrderCode" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectOrderModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setOrderIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="returnProd.orderId" [(ngModel)]="returnProd.orderId" type="text"  hidden>
		 

								<div class="form-group">
									<label for="ReturnProd_Reason">{{l("Reason")}} *</label>
									<input type="text" #ReturnProd_Reason="ngModel" id="ReturnProd_Reason" class="form-control" [(ngModel)]="returnProd.reason" name="Reason"     required/>
								    <validation-messages [formCtrl]="ReturnProd_Reason"></validation-messages>
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!returnProdForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<returnProdOrderLookupTableModal #returnProdOrderLookupTableModal (modalSave)="getNewOrderId()"></returnProdOrderLookupTableModal>
		 
</div>