<div [@routerTransition]>
  <div class="kt-content">
    <div class="kt-portlet kt-portlet--mobile">
      <div class="kt-portlet__body">
        <form #returnProdForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
          <div class="modal-body">


            <div class="form-group">
              <label for="Product_orderId">{{l("OrderCode")}} *</label>
              <select id="orderId" name="orderId" [(ngModel)]="returnProd.orderId" class="form-control">
                <option disabled value="">{{"Select" | localize}}</option>
                <option *ngFor="let order of listOrder" [value]="order.order.id">{{order.order.orderCode}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="ReturnProd_Reason">{{l("Reason")}} *</label>
              <input type="text" #ReturnProd_Reason="ngModel" id="ReturnProd_Reason" class="form-control"
                [(ngModel)]="returnProd.reason" name="Reason" required />
              <validation-messages [formCtrl]="ReturnProd_Reason"></validation-messages>
            </div>


          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary blue" [disabled]="!returnProdForm.form.valid"><i
                class="fa fa-save"></i>
              <span>{{l("CreateReturnProdReq")}}</span></button>
          </div>
        </form>
        <div class="mt-4 mb-4">
          <hr>
        </div>
        <div class="row align-items-center">
          <div class="col-12 mb-3">
            <label>{{l("ReturnProdList")}}</label>
          </div>
          <!--<Primeng-Datatable-Start>-->
          <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
            <p-table #dataTable (onLazyLoad)="getReturnProds($event)" [value]="primengTableHelper.records"
              rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
              [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
              [resizableColumns]="primengTableHelper.resizableColumns">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 150px" pSortableColumn="orderFk.orderCode">
                    {{l('OrderCode')}}
                    <p-sortIcon field="orderOrderCode"></p-sortIcon>
                  </th>
                  <th style="width: 150px" pSortableColumn="reason">
                    {{l('Reason')}}
                    <p-sortIcon field="returnProd.reason"></p-sortIcon>
                  </th>

                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                <tr>
                  <td style="width:150px">
                    <span class="ui-column-title"> {{l('OrderCode')}}</span>
                    {{record.orderOrderCode}}
                  </td>
                  <td style="width:150px">
                    <span class="ui-column-title"> {{l('Reason')}}</span>
                    {{record.returnProd.reason}}
                  </td>

                </tr>

              </ng-template>
            </p-table>
            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
              {{l('NoData')}}
            </div>
            <div class="primeng-paging-container">
              <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                (onPageChange)="getReturnProds($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage" [showCurrentPageReport]="true"
                [currentPageReportTemplate]="'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount">
              </p-paginator>
            </div>
          </div>
          <!--<Primeng-Datatable-End>-->
        </div>
        <div class="row">
          <div class="col-md-12">
            <h1 class="title-head">Chính sách đổi trả, hoàn tiền</h1> <br />
            <div class="article-details">
              <div class="article-content">
                <div class="rte">
                  <p><strong>Trường hợp được đổi/trả hàng</strong></p>

                  <p>Sản phẩm mua rồi nhưng không ưng ý</p>

                  <p>– Người mua có thể trả hàng khi không vừa ý trong vòng 1h kể từ khi nhận hàng, <strong>shopvnb.com
                    </strong>sẽ đổi sản phẩm cho khách. Sản phẩm muốn đổi hoặc trả cần giữ sản phâm nguyên đai, chưa mở
                    nắp, chưa sử dụng. Không nhất thiết còn tem mác hay hỏng hộp. Không bị méo mó, biến dạng.</p>

                  <p>&nbsp;</p>

                  <p><strong>Sản phẩm mua bị lỗi – Quá hạn sử dụng</strong></p>

                  <p>Quý khách vui lòng kiểm tra sản phẩm trước khi thanh toán. Trong trường hợp sản phẩm bị hư hại
                    trong quá trình vận chuyển, quý khách vui lòng từ chối và gửi lại sản phẩm cho chúng tôi</p>

                  <p><strong>Sản phẩm không sử dụng được ngay khi được giao </strong></p>

                  <p>Trước tiên, hãy dành thời gian đọc kỹ tem hướng dẫn sử dụng và chắc rằng sản phẩm phù hợp với nhu
                    cầu của bạn. Vui lòng liên hệ ngay cho chúng tôi để được hỗ trợ hồi trả lại hàng</p>

                  <p><strong>Sản phẩm giao không đúng theo đơn đặt hàng</strong></p>

                  <p>Bạn nghĩ rằng sản phẩm giao cho bạn không đúng với đơn đặt hàng? Hãy liên hệ với chúng tôi càng sớm
                    càng tốt, hệ thống của chúng tôi sẽ kiểm tra nếu hàng của bạn bị gửi nhầm. Trong trường hợp đó,
                    chúng tôi sẽ thay thế đúng mặt hàng bạn yêu cầu (khi có hàng).</p>

                  <p><strong>Điều kiện đổi trả hàng</strong></p>

                  <p>Điều kiện về thời gian đổi trả:&nbsp;trong vòng 01 ngày&nbsp;kể từ khi nhận được hàng và phải liên
                    hệ gọi ngay cho chúng tôi theo số điện thoại trên để được xác nhận đổi trả hàng.</p>

                  <p>Điều kiện đổi trả hàng:</p>

                  <p>– Sản phẩm gửi lại phải còn nguyên đai nguyên kiện</p>

                  <p>– Phiếu bảo hành (nếu có) và tem của công ty trên sản phẩm còn nguyên vẹn.</p>

                  <p>– Sản phẩm đổi/ trả phải còn đầy đủ hộp, giấy Hướng dẫn sử dụng và chưa qua sử dụng.</p>

                  <p>– Quý khách chịu chi phí vận chuyển, đóng gói, thu hộ tiền, chi phí liên lạc tối đa tương đương 20%
                    giá trị đơn hàng.</p>

                  <p><strong>Quy trình đổi trả hàng</strong></p>

                  <p>Bước 1: Sau khi nhận được hàng. Yêu cầu quý vị kiểm tra kỹ 1 lần trước khi nhận hàng. Nếu có vấn đề
                    xin vui lòng liên hệ Trung tâm hỗ trợ khách hàng tại thời điểm nhân viên giao hàng còn ở đó</p>

                  <p>– Trường hợp sau khi nhân viên giao hàng đã đi – Nếu muốn đổi trả hàng có thể liên hệ với chúng tôi
                    để được xử lý và hẹn lịch đổi trả hàng<br>
                    Bước 2:&nbsp;Sau khi Trung tâm hỗ trợ khách hàng thông báo lịch hẹn nhận hàng trả</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>