<div [@routerTransition]>
    <div id="HostDashboard">
        <div class="kt-subheader kt-grid__item">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span>{{"Dashboard" | localize}}</span>
                </h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <span class="kt-subheader__desc">
                    {{"HostDashboardHeaderInfo" | localize}}
                </span>
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                    <button name="RefreshButton" class="btn btn-primary"
                        (click)="getDashboardStatisticsData(selectedDateRange)">
                        <i class="la la-refresh"></i>
                        <span class="d-none d-sm-inline-block">
                            {{"Refresh" | localize}}
                        </span>
                    </button>
                    <a href="javascript:;" #DashboardDateRangePicker class="btn btn-primary dashboard-report-range"
                        (click)="dateRangePicker.toggle()">
                        <i class="la la-calendar" [attr.aria-label]="l('Expand')"></i>
                        <span class="d-none d-sm-inline-block">
                            {{selectedDateRange[0] | momentFormat: 'LL'}} - {{selectedDateRange[1] | momentFormat:
                            'LL'}}
                        </span>
                    </a>
                    <input type="text" class="btn btn-primary date-range-filter" #dateRangePicker="bsDaterangepicker"
                        readonly="readonly" [(ngModel)]="selectedDateRange"
                        (bsValueChange)="getDashboardStatisticsData($event)" placement="left"
                        style="visibility: hidden; margin-left: -220px" bsDaterangepicker />
                </div>
            </div>
        </div>
        <div class="kt-content kt-grid__item kt-grid__item--fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="kt-portlet kt-portlet--height-fluid income-statistics">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    <i class="la la-line-chart kt-font-info"></i>
                                    <span class="caption-subject font-blue bold uppercase">{{"IncomeStatistics" |
                                        localize}}</span>
                                    <small>
                                        <span class="caption-helper">
                                            {{selectedDateRange[0] | momentFormat: 'L'}} - {{selectedDateRange[1] |
                                            momentFormat: 'L'}}
                                        </span>
                                    </small>
                                </h3>
                            </div>
                            <div class="kt-portlet__head-toolbar">
                                <div class="btn-group btn-group-devided" data-toggle="buttons">
                                    <label class="btn m-btn--pill btn-secondary"
                                        [ngClass]="{'active': selectedIncomeStatisticsDateInterval ==  appIncomeStatisticsDateInterval.Daily}"
                                        (click)="incomeStatisticsDateIntervalChange(appIncomeStatisticsDateInterval.Daily)">
                                        <input type="radio" name="IncomeStatisticsDatePeriod" class="toggle"
                                            [value]="appIncomeStatisticsDateInterval.Daily">
                                        {{"Daily" | localize}}
                                    </label>
                                    <label class="btn m-btn--pill btn-secondary"
                                        [ngClass]="{'active': selectedIncomeStatisticsDateInterval ==  appIncomeStatisticsDateInterval.Weekly}"
                                        (click)="incomeStatisticsDateIntervalChange(appIncomeStatisticsDateInterval.Weekly)">
                                        <input type="radio" name="IncomeStatisticsDatePeriod" class="toggle"
                                            [value]="appIncomeStatisticsDateInterval.Weekly">
                                        {{"Weekly" | localize}}
                                    </label>
                                    <label class="btn m-btn--pill btn-secondary"
                                        [ngClass]="{'active': selectedIncomeStatisticsDateInterval ==  appIncomeStatisticsDateInterval.Monthly}"
                                        (click)="incomeStatisticsDateIntervalChange(appIncomeStatisticsDateInterval.Monthly)">
                                        <input type="radio" name="IncomeStatisticsDatePeriod" class="toggle"
                                            [value]="appIncomeStatisticsDateInterval.Monthly">
                                        {{"Monthly" | localize}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__body">
                            <ngx-charts-area-chart *ngIf="incomeStatisticsHasData" [busyIf]="loadingIncomeStatistics"
                                [results]="incomeStatisticsData" [showXAxisLabel]="true" showYAxisLabel="true"
                                [xAxis]="true" [yAxis]="true" [showGridLines]="true">
                                <ng-template #tooltipTemplate let-model="model">
                                    <span>{{model.name}}</span>
                                    <br />
                                    <span>{{'IncomeWithAmount' | localize:model.value + ' ' + currency}}</span>
                                </ng-template>
                            </ngx-charts-area-chart>
                            <div class="note note-info text-center chart" [hidden]="incomeStatisticsHasData">
                                <small class="text-muted">{{"NoData" | localize}}</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-6 col-sm-12">
                    <div class="kt-portlet kt-portlet--height-fluid edition-statistics">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    <i class="la la-pie-chart kt-font-success"></i>
                                    <span class="caption-subject font-green-seagreen">{{"EditionStatistics" |
                                        localize}}</span>
                                    <small>
                                        <span class="caption-helper">
                                            {{selectedDateRange[0] | momentFormat: 'L'}} - {{selectedDateRange[1] |
                                            momentFormat: 'L'}}
                                        </span>
                                    </small>
                                </h3>
                            </div>
                        </div>
                        <div class="kt-portlet__body">
                            <ngx-charts-pie-chart *ngIf="editionStatisticsHasData" [results]="editionStatisticsData"
                                [legend]="true" [doughnut]="true" [arcWidth]="0.75">
                            </ngx-charts-pie-chart>
                            <div class="note note-info text-center chart" [hidden]="editionStatisticsHasData">
                                <small class="text-muted">{{"NoData" | localize}}</small>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>