<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #imageForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="image.id">{{l("EditImage")}}</span>
                        <span *ngIf="!image.id">{{l("CreateNewImage")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
									<label for="Image_Name">{{l("Name")}} *</label>
									<input type="text" #Image_Name="ngModel" id="Image_Name" class="form-control" [(ngModel)]="image.name" name="Name"   minlength="0"  maxlength="64"  required/>
								    <validation-messages [formCtrl]="Image_Name"></validation-messages>
								</div>
					
								<div class="form-group">
									<label for="Image_Url">{{l("Url")}} *</label>
									<input type="text" #Image_Url="ngModel" id="Image_Url" class="form-control" [(ngModel)]="image.url" name="Url"     required/>
								    <validation-messages [formCtrl]="Image_Url"></validation-messages>
								</div>
					
								<div class="form-group">
									<label for="Image_Description">{{l("Description")}}</label>
									<input type="text" #Image_Description="ngModel" id="Image_Description" class="form-control" [(ngModel)]="image.description" name="Description"   minlength="0"  maxlength="1024" />
								    <validation-messages [formCtrl]="Image_Description"></validation-messages>
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!imageForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>