<div [@routerTransition]>
  <div class="kt-content">
    <div class="kt-portlet kt-portlet--mobile">
      <div class="kt-portlet__body">

        <div class="jumbotron text-center">
          <h1>CÔNG TY TNHH VISUAL SPORTS</h1>
          <p>Chuyên cung cấp sản phẩm cầu lông chính hãng - chất lượng cao</p>
        </div>

        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-8">
              <h2>Về công ty</h2>
              <h4>CÔNG TY TNHH VISUAL SPORTS được thành lập từ tháng 4 năm 2016</h4>
              <p>Cùng với sự chung tay của 2 founder là Nguyễn Ngọc Dũng và Nguyễn Tiến Thành công ty VISUAL SPORTS đã
                được thành lập với sự đam mê mãnh liệt với môn thể thao cầu lông và mong muốn tiếp cận môn thể thao này
                tới nhiều người chơi hơn nữa</p>
            </div>
            <div class="col-sm-4">
              <i class="fa fa-universal-access logo"></i>
            </div>
          </div>
        </div>

        <div class="container-fluid bg-grey">
          <div class="row">
            <div class="col-sm-4">
              <i class="fa fa-globe logo"></i>
            </div>
            <div class="col-sm-8">
              <h2>Giá trị mà công ty mang tới cho khách hàng</h2>
              <h4><strong>Nhiệm vụ:</strong> Mang tới cho khách hàng những sản phẩm chất lượng nhất với thời gian nhanh
                nhất và giá thành tốt nhất thị trường</h4>
              <p><strong>Tầm nhìn:</strong> Cung cấp thiết bị thể thao với chất lượng tốt nhất tới khách hàng Việt để
                nền thể thao nước nhà được phát triển từng ngày</p>
            </div>
          </div>
        </div>

        <div class="container-fluid text-center">
          <h2>DỊCH VỤ</h2>
          <h4>Dịch vụ công ty mang tới cho khách hàng</h4>
          <br>
          <div class="row">
            <div class="col-sm-4">
              <i class="logo-small fa fa-power-off"></i>
              <h4>Năng lượng</h4>
              <p>Mang tới cho khách hàng nguồn cảm hứng với môn thể thao cầu lông</p>
            </div>
            <div class="col-sm-4">
              <i class="logo-small fa fa-heartbeat"></i>
              <h4>Tình yêu</h4>
              <p>Giúp khách hàng hiểu thêm giá trị mà môn cầu lông mang lại</p>
            </div>
            <div class="col-sm-4">
              <i class="logo-small fa fa-suitcase"></i>
              <h4>Công việc</h4>
              <p>Cung cấp dịch vụ tốt nhất tới khách hàng</p>
            </div>
          </div>
          <br><br>
          <div class="row">
            <div class="col-sm-4">
              <i class="logo-small fa fa-leaf"></i>
              <h4>Bảo vệ môi trường</h4>
              <p>Sử dụng bao bì tái chết giúp làm xanh Trái Đất</p>
            </div>
            <div class="col-sm-4">
              <i class="logo-small fa fa-certificate"></i>
              <h4>Chứng nhận</h4>
              <p>Là đơn vị ủy quyền trực tiếp của hãng Yonex - Nhật Bản tại Việt Nam</p>
            </div>
            <div class="col-sm-4">
              <i class="logo-small fa fa-wrench"></i>
              <h4>Làm việc hết mình</h4>
              <p>Luôn luôn đặt trách nhiệm với khách hàng lên hàng đầu</p>
            </div>
          </div>
        </div>

        <h2 class="text-center">Nhận xét của khách hàng</h2>
        <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <h4>"Cửa hàng có chất lượng sản phẩm, mẫu mã và bảo hành thuộc top đầu Việt Nam"<br>
                <span style="font-style:normal;">Đỗ Tuấn Đức - VDV đôi nam số 1 Việt Nam</span>
              </h4>
            </div>
            <div class="item">
              <h4>"Chỉ có 1 từ ... WOW!!"<br><span style="font-style:normal;">Nguyễn Trung Đức - Kiện tướng cầu lông
                  Việt Nam</span></h4>
            </div>
            <div class="item">
              <h4>"Chất lượng của cửa hàng mang tới cho khách có thể tốt hơn như này sao?"<br><span
                  style="font-style:normal;">
                  Nguyễn Tiến Minh - VDV đơn nam số 1 Việt Nam</span></h4>
            </div>
          </div>

        </div>
        <div class="container-fluid bg-grey">
          <h2 class="text-center">LIÊN HỆ</h2>
          <div class="text-center mt-3">
            <div class="text-center">
              <p>Liên hệ chúng tôi để nhận được những dịch vụ tốt nhất</p>
              <p><span class="glyphicon glyphicon-map-marker"></span>Địa chỉ: 182/15 Lê Đức Thọ - Phường 6 - Quận Gò Vấp
                - TP Hồ Chí Minh</p>
              <p><span class="glyphicon glyphicon-phone"></span>0357123123</p>
              <p><span class="glyphicon glyphicon-envelope"></span>VisualSport@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>