<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #cartForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="cart.id">{{l("EditCart")}}</span>
                        <span *ngIf="!cart.id">{{l("CreateNewCart")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 

					<div class="form-group m-form__group">
                        <label for="ProductName">{{l("Product")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="ProductName" name="productName" [(ngModel)]="productName" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectProductModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setProductIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="cart.productId" [(ngModel)]="cart.productId" type="text" required hidden>
		 

								<div class="form-group">
									<label for="Cart_quantity">{{l("quantity")}}</label>
									<input type="number" #Cart_quantity="ngModel" id="Cart_quantity" class="form-control" [(ngModel)]="cart.quantity" name="quantity"   />
									<validation-messages [formCtrl]="Cart_quantity"></validation-messages>
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!cartForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<cartProductLookupTableModal #cartProductLookupTableModal (modalSave)="getNewProductId()"></cartProductLookupTableModal>
		 
</div>