<div [@routerTransition]>
  <div class="kt-content">
    <div class="kt-portlet kt-portlet--mobile">
      <div class="kt-portlet__body">
        <div class="alert alert-danger" role="alert">
          Để sử dụng hết các chức năng của hệ thống, vui lòng &nbsp; <a
            style="color: white; text-decoration: underline;" href="/account/login">Đăng
            nhập /</a>&nbsp;<a style="color: white; text-decoration: underline;" href="/account/user-register">Đăng
            ký</a>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
          <p class="navbar-brand pt-4">CÔNG TY TNHH VISUAL SPORTS</p>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/account/product-list">{{l("Dashboard")}} <span
                    class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/account/about-us">{{l("AboutUs")}}</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="row align-items-center">
          <div class="primeng-datatable-container col-12">
            <div class="content_main">
              <div class="product-grid-item card p-5">
                <div class="row">
                  <div class="col-3">
                    <ng-image-slider #nav [images]="slideImages" [infinite]="false" [autoSlide]="1" slideImage="1">
                    </ng-image-slider>
                  </div>
                  <div class="col-6">
                    <h1>{{product.product.name}}</h1>
                    <hr />
                    <div class="price_box">
                      <span>{{l("Condition")}}: </span><span style="padding: 4px; border-radius: 5px;"
                        [ngClass]="{'text-success': product.product.inStock>0, 'text-danger': product.product.inStock==0}">{{product.product.inStock
                        > 0 ? "Còn hàng" : "Hết hàng"}}</span>
                      <div class="mb-3 mt-3">{{l("Price")}}: {{product.product.price.toLocaleString('it-IT', {style :
                        'currency', currency : 'VND'})}}</div>
                      <div class="mb-3">{{l("Brand")}}: {{product.brandName}}</div>
                      <div class="d-flex align-items-center" *ngIf="product.isSize">
                        <span class="mr-2" for="Product_Size">{{l("Size")}}:
                        </span>
                        <select style="width: 20%;" id="Size" name="Size" [(ngModel)]="product.product.size"
                          class="form-control">
                          <option *ngFor="let size of product.productSize" [value]="size">{{size}}</option>
                        </select>
                      </div>
                      <div class="d-flex align-items-center" *ngIf="product.isColor">
                        <span class="mr-2" for="Product_Color">{{l("Color")}}:
                        </span>
                        <select style="width: 20%;" id="Color" name="Color" [(ngModel)]="product.product.color"
                          class="form-control">
                          <option *ngFor="let color of product.productColor" [value]="color">{{color}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="purchase">
                      <div class="custom custom-btn-number form-control">
                        <input #qty="ngModel" [(ngModel)]="quantity" type="input" class="input-text qty number-sidebar"
                          id="qty" title="Số lượng" name="so_luong" max="1">
                        <div class="gp-btn">
                          <button (click)="add()" class="btn-plus btn-cts" type="button">+</button>
                          <button (click)="minus()" class="btn-minus btn-cts" type="button">–</button>
                        </div>
                      </div>
                      <button type="button" class="btn btn-primary blue ml-5" disabled="true"
                        (click)="addToCart()">{{l("AddToCart")}}</button>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="box-hotlines clearfix">
                      <div class="box-hotlines-left">
                        <h3>Bạn cần hỗ trợ?</h3>
                        <h2><a href="tel:0357123123">0357123123</a></h2>
                        <p style="width:175px; margin-top:-10px;"><em>(08-17h, CN và chiều thứ 7 nghỉ)</em></p>
                      </div>
                      <div class="box-hotlines-right">
                        <a href="tel:0357123123">
                          <i class="fa fa-phone" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-3">
              <tabset class="mt-3">
                <tab heading="{{'Descriptions' | localize}}">
                  <div class="row">
                    <pre class="col-12"
                      style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                     white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; font-size: larger;">
                    {{product.product.description}}
                  </pre>
                  </div>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>