<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #bookingForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="booking.id">{{l("EditBooking")}}</span>
                        <span *ngIf="!booking.id">{{l("CreateNewBooking")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
									<label for="Booking_Time">{{l("Time")}}</label>
									 <input required class="form-control m-input" #Booking_Time type="datetime" bsDatepicker [(ngModel)]="booking.time._d" id="Booking_Time" name="Booking_Time">
									<validation-messages [formCtrl]="Booking_Time"></validation-messages>
								</div>
					
								<div class="form-group">
									<label for="Booking_Description">{{l("Description")}} *</label>
									<input type="text" #Booking_Description="ngModel" id="Booking_Description" class="form-control" [(ngModel)]="booking.description" name="Description"   minlength="0"  maxlength="1024"  required/>
								    <validation-messages [formCtrl]="Booking_Description"></validation-messages>
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!bookingForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>