<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #brandForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="brand.id">{{l("EditBrand")}}</span>
                        <span *ngIf="!brand.id">{{l("CreateNewBrand")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
					<div class="form-group m-form__group">
                    </div>
                        <div class="form-group">
                            <label for="Brand_Name">{{l("Name")}} *</label>
                            <input type="text" #Brand_Name="ngModel" id="Brand_Name" class="form-control" [(ngModel)]="brand.name" name="Name"   minlength="0"  maxlength="128"  required/>
                            <validation-messages [formCtrl]="Brand_Name"></validation-messages>
                        </div>
            
                        <div class="form-group">
                            <label for="Brand_Country">{{l("Country")}} *</label>
                            <input type="text" #Brand_Country="ngModel" id="Brand_Country" class="form-control" [(ngModel)]="brand.country" name="Country"   minlength="0"  maxlength="64"  required/>
                            <validation-messages [formCtrl]="Brand_Country"></validation-messages>
                        </div>
            
                        <div class="form-group">
                            <label for="Brand_Description">{{l("Description")}}</label>
                            <input type="text" #Brand_Description="ngModel" id="Brand_Description" class="form-control" [(ngModel)]="brand.description" name="Description"    />
                            <validation-messages [formCtrl]="Brand_Description"></validation-messages>
                        </div>

                        <div class="form-group">
                            <input type="file" id="Image_Url" name="Url" (change)="fileChangeEvent($event)" />
                            <span class="help-block m-b-none">{{"ProfilePicture_Change_Info" | localize:maxProfilPictureBytesUserFriendlyValue}}</span>
                        </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!brandForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>		 
</div>