.content_main{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.product-grid-item {
    margin: .5em;
    border: 1px solid #dee2e6;
}
.product-grid-item-top,
.product-grid-item-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-grid-item-bottom{
    margin: 1% 3%;
}

img {
    width: 75%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 3% 12.5%;
}

.product-grid-item-content {
    text-align: center;
}

.product-price {
    font-size: 1.5rem;
    font-weight: 600;
}