.content_main {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.product-grid-item {
    margin: .5em;
    border: 1px solid #dee2e6;
}

.product-grid-item-top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-grid-item-bottom {
    margin: 1% 3%;
}

img {
    height: 200px;
    width: 200px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 3% 12.5%;
}

.product-grid-item-content {
    text-align: center;
}

.product-name {
    font-size: 1.5rem;
    color: black;
}

.product-price {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
}

.product-cart:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: 0.5px solid #dee2e6;
}

ul {
    list-style: none inside;
    margin: 0;
    padding: 0;
}

ul li {
    margin-top: 5px;
}