<div [@routerTransition]>
  <div class="kt-content">
    <div class="kt-portlet kt-portlet--mobile">
      <div class="kt-portlet__body">
        <div class="kt-subheader__main">
          <h3 class="kt-subheader__title pl-4">
            <span>{{l("Đăng ký tài khoản")}}</span>
          </h3>
        </div>
        <form #userForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="new-password">
          <div class="modal-body row">
            <!-- <div class="col-sm-3 text-center mb-5 mt-5">
                <img src="{{profilePicture}}" width="128" height="128" class="img-thumbnail img-rounded" />
              </div> -->
            <div class="form-group col-6">
              <label for="Name">{{"Name" | localize}} *</label>
              <input id="Name" #nameInput="ngModel" class="form-control" type="text" name="Name" [(ngModel)]="user.name"
                required maxlength="32">
              <validation-messages [formCtrl]="nameInput"></validation-messages>
            </div>

            <div class="form-group col-6">
              <label for="Surname">{{"Surname" | localize}} *</label>
              <input id="Surname" #surnameInput="ngModel" type="text" name="Surname" class="form-control"
                [(ngModel)]="user.surname" required maxlength="32">
              <validation-messages [formCtrl]="surnameInput"></validation-messages>
            </div>
            <div class="form-group col-6">
              <label for="EmailAddress">{{"EmailAddress" | localize}} *</label>
              <input id="EmailAddress" #emailAddressInput="ngModel" type="email" name="EmailAddress"
                class="form-control" [(ngModel)]="user.emailAddress" required maxlength="256" email />
              <validation-messages [formCtrl]="emailAddressInput"></validation-messages>
            </div>

            <div class="form-group col-6">
              <label for="PhoneNumber">{{"PhoneNumber" | localize}}</label>
              <input id="PhoneNumber" type="text" name="PhoneNumber" class="form-control" [(ngModel)]="user.phoneNumber"
                maxlength="24">
            </div>

            <div class="form-group col-6">
              <label for="UserName">{{"UserName" | localize}} *</label>
              <input id="UserName" #userNameInput="ngModel" type="text" [disabled]="!canChangeUserName" name="UserName"
                class="form-control" [(ngModel)]="user.userName" required maxlength="32" autocomplete="off">
              <span class="help-block" *ngIf="!canChangeUserName">{{"CanNotChangeAdminUserName" | localize}}</span>
              <validation-messages [formCtrl]="userNameInput"></validation-messages>
            </div>

            <div class="form-group col-6">
              <label for="DateOfBirth">{{l("DateOfBirth")}}</label>
              <input required class="form-control m-input" #DateOfBirth type="datetime" bsDatepicker
                [(ngModel)]="user.dateOfBirth" id="DateOfBirth" name="DateOfBirth">
            </div>

            <div class="form-group col-6">
              <label for="Address">{{"Address" | localize}}</label>
              <input id="Address" #AddressInput="ngModel" type="text" name="Address" class="form-control"
                [(ngModel)]="user.address" maxlength="1024" autocomplete="off">
            </div>

            <!-- <div class="col-md-3">
              <div class="form-group">
                  <label for="MinTimeFilter">{{l("TimeRange")}}</label>
                  <div class="input-group">
                      <input class="form-control m-input" id="MinTimeFilter" name="MinTimeFilter"
                          type="datetime" bsDatepicker placeholder="{{l('MinValue')}}"
                          [(ngModel)]="minTimeFilter">
                      <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                      <input class="form-control m-input" id="MaxTimeFilter" name="MaxTimeFilter"
                          type="datetime" bsDatepicker placeholder="{{l('MaxValue')}}"
                          [(ngModel)]="maxTimeFilter">
                  </div>
              </div>
          </div> -->

            <!-- <div class="kt-checkbox-list">
              <label for="EditUser_SetRandomPassword" class="kt-checkbox">
                <input id="EditUser_SetRandomPassword" type="checkbox" name="SetRandomPassword"
                  [(ngModel)]="setRandomPassword">
                {{"SetRandomPassword" | localize}}
                <span></span>
              </label>
            </div> -->
            <div class="form-group col-6">
              <div class="right">
                <label for="Password">{{"Password" | localize}}</label>
                <input id="Password" type="password" name="Password" #Password="ngModel" id="Password"
                  class="form-control" [(ngModel)]="user.password" [required]="!user.id && !setRandomPassword"
                  maxlength="32" [requireDigit]="passwordComplexitySetting.requireDigit"
                  [requireLowercase]="passwordComplexitySetting.requireLowercase"
                  [requireUppercase]="passwordComplexitySetting.requireUppercase"
                  [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                  [requiredLength]="passwordComplexitySetting.requiredLength" validateEqual="PasswordRepeat"
                  reverse="true">
              </div>
              <div [hidden]="userForm.form.valid || userForm.form.pristine">
                <ul class="help-block text-danger"
                  *ngIf="userForm.controls['Password'] && userForm.controls['Password'].errors">
                  <li [hidden]="!userForm.controls['Password'].errors.requireDigit">
                    {{"PasswordComplexity_RequireDigit_Hint" | localize}}</li>
                  <li [hidden]="!userForm.controls['Password'].errors.requireLowercase">
                    {{"PasswordComplexity_RequireLowercase_Hint" | localize}}</li>
                  <li [hidden]="!userForm.controls['Password'].errors.requireUppercase">
                    {{"PasswordComplexity_RequireUppercase_Hint" | localize}}</li>
                  <li [hidden]="!userForm.controls['Password'].errors.requireNonAlphanumeric">
                    {{"PasswordComplexity_RequireNonAlphanumeric_Hint" | localize}}</li>
                  <li [hidden]="!userForm.controls['Password'].errors.requiredLength">
                    {{"PasswordComplexity_RequiredLength_Hint" | localize:passwordComplexitySetting.requiredLength}}
                  </li>
                </ul>
              </div>
            </div>
            <div class="form-group col-6">
              <div class="right">
                <label for="PasswordRepeat">{{"PasswordRepeat" | localize}}</label>
                <input id="PasswordRepeat" type="password" name="PasswordRepeat" #PasswordRepeat="ngModel"
                  class="form-control" [(ngModel)]="user.passwordRepeat" [required]="!user.id && !setRandomPassword"
                  maxlength="32" [requireDigit]="passwordComplexitySetting.requireDigit"
                  [requireLowercase]="passwordComplexitySetting.requireLowercase"
                  [requireUppercase]="passwordComplexitySetting.requireUppercase"
                  [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                  [requiredLength]="passwordComplexitySetting.requiredLength" validateEqual="Password" reverse="false">
              </div>
              <div [hidden]="setRandomPassword || userForm.form.valid || userForm.form.pristine">
                <ul class="help-block text-danger"
                  *ngIf="userForm.controls['PasswordRepeat'] && userForm.controls['PasswordRepeat'].errors">
                  <li [hidden]="!userForm.controls['PasswordRepeat'].errors.requireDigit">
                    {{"PasswordComplexity_RequireDigit_Hint" | localize}}</li>
                  <li [hidden]="!userForm.controls['PasswordRepeat'].errors.requireLowercase">
                    {{"PasswordComplexity_RequireLowercase_Hint" | localize}}</li>
                  <li [hidden]="!userForm.controls['PasswordRepeat'].errors.requireUppercase">
                    {{"PasswordComplexity_RequireUppercase_Hint" | localize}}</li>
                  <li [hidden]="!userForm.controls['PasswordRepeat'].errors.requireNonAlphanumeric">
                    {{"PasswordComplexity_RequireNonAlphanumeric_Hint" | localize}}</li>
                  <li [hidden]="!userForm.controls['PasswordRepeat'].errors.requiredLength">
                    {{"PasswordComplexity_RequiredLength_Hint" | localize:passwordComplexitySetting.requiredLength}}
                  </li>
                  <li [hidden]="userForm.controls['PasswordRepeat'].valid">{{"PasswordsDontMatch" | localize}}</li>
                </ul>
              </div>
            </div>
            <div class="kt-checkbox-list col-6 pl-2">
              <label for="EditUser_ShouldChangePasswordOnNextLogin" class="kt-checkbox">
                <input id="EditUser_ShouldChangePasswordOnNextLogin" type="checkbox"
                  name="ShouldChangePasswordOnNextLogin" [(ngModel)]="user.shouldChangePasswordOnNextLogin">
                {{"ShouldChangePasswordOnNextLogin" | localize}}
                <span></span>
              </label>

              <label for="EditUser_SendActivationEmail" class="kt-checkbox">
                <input id="EditUser_SendActivationEmail" type="checkbox" name="SendActivationEmail"
                  [(ngModel)]="sendActivationEmail">
                {{"SendActivationEmail" | localize}}
                <span></span>
              </label>

              <!-- <label for="EditUser_IsActive" class="kt-checkbox">
                <input id="EditUser_IsActive" type="checkbox" name="IsActive" [(ngModel)]="user.isActive">
                {{"Active" | localize}}
                <span></span>
              </label> -->

              <label *ngIf="isTwoFactorEnabled" for="EditUser_IsTwoFactorEnabled" class="kt-checkbox">
                <input id="EditUser_IsTwoFactorEnabled" type="checkbox" name="IsTwoFactorEnabled"
                  [(ngModel)]="user.isTwoFactorEnabled">
                {{"IsTwoFactorEnabled" | localize}}
                <span></span>
              </label>

              <label *ngIf="isLockoutEnabled" for="EditUser_IsLockoutEnabled" class="kt-checkbox">
                <input id="EditUser_IsLockoutEnabled" type="checkbox" name="IsLockoutEnabled"
                  [(ngModel)]="user.isLockoutEnabled">
                {{"IsLockoutEnabled" | localize}}
                <span></span>
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid" [buttonBusy]="saving"
              [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{"Save" |
                localize}}</span></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>