<div [@routerTransition]>

    <div class="kt-subheader kt-grid__item">

        <div class="kt-subheader__main">
            <h4 class="kt-subheader__title">
                <span>{{l("Products")}}</span>
            </h4>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i>
                    {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.Products.Create')" (click)="createProduct()"
                    class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewProduct")}}</button>
            </div>
        </div>

    </div>


    <div class="kt-content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus
                                            class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                            type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getProducts()" class="btn btn-primary" type="submit"><i
                                                    class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" [hidden]="!advancedFiltersAreShown">
                            <div class="col-md-12">
                                <div class="kt-separator kt-separator--border-dashed"></div>
                            </div>


                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="NameFilter">{{l("Name")}}</label>
                                    <input type="text" class="form-control" id="NameFilter" name="nameFilter"
                                        [(ngModel)]="nameFilter">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="MadeInFilter">{{l("MadeIn")}}</label>
                                    <input type="text" class="form-control" id="MadeInFilter" name="madeInFilter"
                                        [(ngModel)]="madeInFilter">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="CodeFilter">{{l("Code")}}</label>
                                    <input type="text" class="form-control" id="CodeFilter" name="codeFilter"
                                        [(ngModel)]="codeFilter">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="MinPriceFilter">{{l("MinMax")}} {{l("Price")}}</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="MinPriceFilter"
                                            [(ngModel)]="minPriceFilter" placeholder="{{l('MinValue')}}"
                                            name="minPriceFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxPriceFilter"
                                            placeholder="{{l('MaxValue')}}" name="maxPriceFilter" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="MinInStockFilter">{{l("MinMax")}} {{l("InStock")}}</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="MinInStockFilter"
                                            [(ngModel)]="minInStockFilter" placeholder="{{l('MinValue')}}"
                                            name="minInStockFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxInStockFilter"
                                            placeholder="{{l('MaxValue')}}" name="maxInStockFilter" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="DescriptionFilter">{{l("Description")}}</label>
                                    <input type="text" class="form-control" id="DescriptionFilter"
                                        name="descriptionFilter" [(ngModel)]="descriptionFilter">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="TitleFilter">{{l("Title")}}</label>
                                    <input type="text" class="form-control" id="TitleFilter" name="titleFilter"
                                        [(ngModel)]="titleFilter">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="ImageNameFilter">({{l("Image")}}) {{l("Name")}}</label>
                                    <input type="text" class="form-control" id="ImageNameFilter" name="imageNameFilter"
                                        [(ngModel)]="imageNameFilter">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="BrandNameFilter">({{l("Brand")}}) {{l("Name")}}</label>
                                    <input type="text" class="form-control" id="BrandNameFilter" name="brandNameFilter"
                                        [(ngModel)]="brandNameFilter">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="CategoryNameFilter">({{l("Category")}}) {{l("Name")}}</label>
                                    <input type="text" class="form-control" id="CategoryNameFilter"
                                        name="categoryNameFilter" [(ngModel)]="categoryNameFilter">
                                </div>
                            </div>

                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                        class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i
                                        class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getProducts($event)" [value]="primengTableHelper.records"
                            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.Products.Edit', 'Pages.Products.Delete')">
                                        {{l('Actions')}}</th>
                                    <!-- <th style="width: 150px" pSortableColumn="imageFk.name">
                                        {{l('ImageName')}}
                                        <p-sortIcon field="imageName"></p-sortIcon>
                                    </th> -->
                                    <th style="width: 150px" pSortableColumn="brandFk.name">
                                        {{l('BrandName')}}
                                        <p-sortIcon field="brandName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="categoryFk.name">
                                        {{l('CategoryName')}}
                                        <p-sortIcon field="categoryName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="name">
                                        {{l('ProductName')}}
                                        <p-sortIcon field="product.name"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="madeIn">
                                        {{l('MadeIn')}}
                                        <p-sortIcon field="product.madeIn"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="code">
                                        {{l('Code')}}
                                        <p-sortIcon field="product.code"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="price">
                                        {{l('Price')}}
                                        <p-sortIcon field="product.price"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="inStock">
                                        {{l('InStock')}}
                                        <p-sortIcon field="product.inStock"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="description">
                                        {{l('Description')}}
                                        <p-sortIcon field="product.description"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px">
                                        {{l('Colors')}}
                                    </th>
                                    <th style="width: 150px">
                                        {{l('Size')}}
                                    </th>
                                    <th style="width: 150px" pSortableColumn="title">
                                        {{l('Title')}}
                                        <p-sortIcon field="product.title"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.Products.Edit', 'Pages.Products.Delete')">
                                        <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li>
                                                    <a href="javascript:;"
                                                        (click)="viewProductModal.show(record)">{{l('View')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.Products.Edit')"
                                                        (click)="createOrEditProductModal.show(record.product.id)">{{l('Edit')}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.Products.Delete')"
                                                        (click)="deleteProduct(record.product)">{{l('Delete')}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <!-- <td style="width:150px">
												<span class="ui-column-title"> {{l('ImageName')}}</span>
												{{record.imageName}}
											</td> -->
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('BrandName')}}</span>
                                        {{record.brandName}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('CategoryName')}}</span>
                                        {{record.categoryName}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('ProductName')}}</span>
                                        {{record.product.name}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('MadeIn')}}</span>
                                        {{record.product.madeIn}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Code')}}</span>
                                        {{record.product.code}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Price')}}</span>
                                        {{record.product.price}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('InStock')}}</span>
                                        {{record.product.inStock}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Description')}}</span>
                                        <span
                                            *ngIf="record.product.description">{{record.product.description.slice(0,100)
                                            + '...'}}</span>
                                        <span *ngIf="!record.product.description">{{record.product.description}}</span>
                                        <!-- {{record.product.description}} -->
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Colors')}}</span>
                                        {{record.product.color}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Size')}}</span>
                                        {{record.product.size}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Title')}}</span>
                                        {{record.product.title}}
                                    </td>

                                </tr>

                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                (onPageChange)="getProducts($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                [showCurrentPageReport]="true"
                                [currentPageReportTemplate]="'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount">
                            </p-paginator>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>
    <createOrEditProductModal #createOrEditProductModal (modalSave)="getProducts()"></createOrEditProductModal>
    <viewProductModal #viewProductModal></viewProductModal>


</div>